.flexContainer {
  background-color: lightgrey; 
  background-image: url("../images/backgroundPremium.png");
  justify-content: left;
  padding-left: 75px;
}

body {
  background-image: linear-gradient(to right, #354052, #212632);
}